.speakers_content {
    background-color: #161616;
    color: #fff;
    padding-top: 5%;
}

.speakers_content_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.speakers_content_header h1 {
    font-weight: bold;
}

.speakers_content_header p {
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: underline;
}

.speakers_cover {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    color: #fff;
}

.speakers_image {
    width: 100%;
    height: auto;
}

.speakers_cover_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    padding-bottom: 5%;
}

.speakers_cover_text h1 {
    font-weight: bolder;
}

.speakers_cover_text p {
    font-weight: 500;
}


@media only screen and (max-width: 425px) {

    .speakers_cover_text {
        padding-bottom: 0.5%;
    }

    .speakers_cover_text h1 {
        font-weight: bolder;
        font-size: 1em;
    }
    
    .speakers_  cover_text p {
        font-weight: 500;
        font-size: 0.5em;
    }
}